.location {
	position: relative;
	background: #ebebeb;
	margin-bottom: 2rem;
	padding: 2rem;
	.title {
		font-weight: bold;
		margin: 0;
	}
	.message {
		font-weight: bold;
		color: $secondary-color;
	}
}
